@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.earthquakedefinition-second:hover img {
    transform: scale(1.5);
}

@media (max-width: 1024px) {
    .dekstop {
        display: none;
    }
}
@media (max-width: 1023px) {
    body {
        overflow: hidden !important;
    }
    html {
        scroll-behavior: inherit !important;
    }
}

@media (min-width: 1024px) {
    .mobile {
        display: none;
    }
}